USE [master]
GO
/****** Object:  Database [Session1_07]    Script Date: 02.03.2023 23:37:45 ******/
CREATE DATABASE [Session1_07]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Session1_07', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Session1_07.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Session1_07_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Session1_07_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Session1_07].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Session1_07]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 02.03.2023 23:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExitCauses]    Script Date: 02.03.2023 23:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExitCauses](
	[ExitCause] [text] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ExitCauses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offices]    Script Date: 02.03.2023 23:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offices](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountryID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Contact] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Office] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 02.03.2023 23:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrafficViewer]    Script Date: 02.03.2023 23:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrafficViewer](
	[EnterTime] [datetime] NOT NULL,
	[ExitTime] [datetime] NULL,
	[ExitCause] [text] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CauseID] [int] NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_TrafficViewer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02.03.2023 23:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[RoleID] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Firstname] [nvarchar](50) NOT NULL,
	[Lastname] [nvarchar](50) NOT NULL,
	[OfficeID] [int] NOT NULL,
	[Birthdate] [date] NOT NULL,
	[Active] [bit] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([ID], [Name]) VALUES (1, N'Afghanistan')
INSERT [dbo].[Countries] ([ID], [Name]) VALUES (2, N'Albania')
INSERT [dbo].[Countries] ([ID], [Name]) VALUES (3, N'Algeria')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[ExitCauses] ON 

INSERT [dbo].[ExitCauses] ([ExitCause], [ID]) VALUES (N'System Crash', 1)
INSERT [dbo].[ExitCauses] ([ExitCause], [ID]) VALUES (N'Software Crash', 2)
SET IDENTITY_INSERT [dbo].[ExitCauses] OFF
GO
SET IDENTITY_INSERT [dbo].[Offices] ON 

INSERT [dbo].[Offices] ([ID], [CountryID], [Title], [Phone], [Contact]) VALUES (1, 185, N'Abu dhabi', N'638-757-8582
', N'MIchael Malki')
INSERT [dbo].[Offices] ([ID], [CountryID], [Title], [Phone], [Contact]) VALUES (3, 52, N'Cairo', N'252-224-8525', N'David Johns')
INSERT [dbo].[Offices] ([ID], [CountryID], [Title], [Phone], [Contact]) VALUES (4, 13, N'Bahrain', N'542-227-5825', N'Katie Ballmer')
SET IDENTITY_INSERT [dbo].[Offices] OFF
GO
INSERT [dbo].[Roles] ([ID], [Title]) VALUES (1, N'Administrator')
INSERT [dbo].[Roles] ([ID], [Title]) VALUES (2, N'User')
GO
SET IDENTITY_INSERT [dbo].[TrafficViewer] ON 

INSERT [dbo].[TrafficViewer] ([EnterTime], [ExitTime], [ExitCause], [ID], [CauseID], [UserID]) VALUES (CAST(N'2023-03-02T21:40:57.567' AS DateTime), NULL, N'sdaasdasda
', 3, 2, 9)
INSERT [dbo].[TrafficViewer] ([EnterTime], [ExitTime], [ExitCause], [ID], [CauseID], [UserID]) VALUES (CAST(N'2023-03-02T21:47:59.957' AS DateTime), NULL, N'asdqwqqqqqqqqqqqqqqqqqq
', 4, 2, 9)
INSERT [dbo].[TrafficViewer] ([EnterTime], [ExitTime], [ExitCause], [ID], [CauseID], [UserID]) VALUES (CAST(N'2023-03-02T21:50:38.083' AS DateTime), NULL, N'zzzzzzzzzzzzzzzzzzz
', 5, 2, 9)
SET IDENTITY_INSERT [dbo].[TrafficViewer] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([RoleID], [Email], [Password], [Firstname], [Lastname], [OfficeID], [Birthdate], [Active], [ID]) VALUES (1, N'j.doe@amonic.com', N'202CB962AC59075B964B07152D234B70', N'John', N'Doe', 1, CAST(N'1983-01-13' AS Date), 1, 1)
INSERT [dbo].[Users] ([RoleID], [Email], [Password], [Firstname], [Lastname], [OfficeID], [Birthdate], [Active], [ID]) VALUES (2, N'k.omar@amonic.com', N'59112692262234E3FAD47FA8EABF03A4', N'Karim', N'Omar', 1, CAST(N'1980-03-19' AS Date), 1, 2)
INSERT [dbo].[Users] ([RoleID], [Email], [Password], [Firstname], [Lastname], [OfficeID], [Birthdate], [Active], [ID]) VALUES (2, N'h.saeed@amonic.com', N'7B7A53E239400A13BD6BE6C91C4F6C4E', N'Hannan', N'Saeed', 3, CAST(N'1989-12-20' AS Date), 1, 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Offices]  WITH CHECK ADD  CONSTRAINT [FK_Office_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([ID])
GO
ALTER TABLE [dbo].[Offices] CHECK CONSTRAINT [FK_Office_Country]
GO
ALTER TABLE [dbo].[TrafficViewer]  WITH CHECK ADD  CONSTRAINT [FK_TrafficViewer_ExitCauses] FOREIGN KEY([CauseID])
REFERENCES [dbo].[ExitCauses] ([ID])
GO
ALTER TABLE [dbo].[TrafficViewer] CHECK CONSTRAINT [FK_TrafficViewer_ExitCauses]
GO
ALTER TABLE [dbo].[TrafficViewer]  WITH CHECK ADD  CONSTRAINT [FK_TrafficViewer_TrafficViewer] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[TrafficViewer] CHECK CONSTRAINT [FK_TrafficViewer_TrafficViewer]
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD  CONSTRAINT [FK_Users_Offices] FOREIGN KEY([OfficeID])
REFERENCES [dbo].[Offices] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Offices]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
